@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Pacifico&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/*header{
  float: left;
  display: flex;
}*/

/*Desktop*/

/*Mobile*/

.logo,
.logo1 {
  font-size: small;
  font-family: "Pacifico", cursive;
  margin-left: 1rem;
}

.logo {
  margin-bottom: -3px;
}

nav {
  font-family: "Bad Script", cursive;
  width: 100vw;
  height: 3.5rem;
  background-color: #ac7d88;
  color: #f8ecd1;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}

svg {
  display: none;
}

a {
  text-decoration: none;
  color: #f8ecd1;
}

.nav-links {
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.address {
  display: none;
}

.social-media {
  padding-right: 20px;
}

.social-media p {
  display: none;
}

i:hover {
  color: #deb6ab;
}

/*Desktop*/

.section-1 {
  display: flex;
  background-image: url(../../img/image/cafe3-subheader1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 50px;
  padding: 50px;
}

.section-3 {
  background-color: #85586f;
  margin-top: 30px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

main {
  text-align: center;
  font-family: "Pacifico", cursive;
}
.contact {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: rgb(222, 182, 171);
  margin-bottom: -30px;
  margin-top: 50px;
}

h1,
h3 {
  text-align: center;
  font-family: "Bad Script", cursive;
  color: #f8ecd1;
}

h4 {
  font-family: "Work Sans", sans-serif;
  color: rgb(133, 88, 111);
}

.card-text {
  font-family: "Work Sans", sans-serif;
  color: rgb(133, 88, 111);
}

h5 {
  font-family: "Bad Script", cursive;
  color: rgb(222, 182, 171);
}

.opentime {
  background-color: rgb(133, 88, 111);
  padding: 10px;
  border-radius: 8px;
}

.map {
  text-align: center;
}

footer {
  width: 100vw;
  height: 5rem;
  background-color: #f8ecd1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  color: #85586f;
  font-size: smaller;
}
p,
label {
  font-family: "Work Sans", sans-serif;
}
.btn {
  font-family: "Work Sans", sans-serif;
}
.wraper {
  background-color: #f8ecd1;
}

@media (min-width: 1024px) {
  nav {
    font-family: "Bad Script", cursive;
    width: 15rem;
    height: 100vh;
    background-color: #ac7d88;
    color: #f8ecd1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: large;
  }
  main {
    width: calc(100% - 15rem);
    margin-left: 15rem;
  }
  .logo {
    margin-top: 3rem;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    margin-bottom: -5px;
    margin-left: 25px;
  }
  .logo1 {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    margin-top: 0;
    margin-right: 45px;
  }
  svg {
    height: 70px;
    display: inline;
    margin-bottom: 15px;
  }
  nav:hover svg {
    transform: rotate(-25deg);
  }
  i {
    font-size: 25px;
  }
  .nav-links {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .address {
    width: 12rem;
    font-family: "Work Sans", sans-serif;
    display: inline;
  }
  .social-media {
    margin-bottom: 3rem;
  }
  .social-media p {
    display: block;
  }
  .wraper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
  }
  .contact {
    margin-right: 50px;
  }
  footer {
    border: 2px solid red;
    width: 100vw;
    height: 5rem;
  }
}
