@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Pacifico&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo, .logo1 {
    font-size:small;
    font-family: 'Pacifico', cursive;
    margin-left: 1rem;
}

.logo {
    margin-bottom: -10px;
}

nav {
    font-family: 'Bad Script', cursive;
    width: 100vw;
    height: 3.5rem;
    background-color: #AC7D88;
    color: #F8ECD1;
    position: sticky;
    top:0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}

svg {
    display:none;
}

a{
    text-decoration: none;
    color: #F8ECD1;
}

.nav-links {
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 2rem;
    background-color: #F8ECD1;
    padding: 5px;
    border: none;
    font-family: 'Bad Script', cursive;
    border-radius: 8px;
    font-size: smaller;
}

button a {
    color: black;
}

button:hover {
    font-weight: bold;
    -webkit-box-shadow: 1px 2px 16px 2px rgba(248,236,209,0.63); 
    box-shadow: 1px 2px 16px 2px rgba(248,236,209,0.63);
}

.address {
    display: none;
}

.social-media {
    padding-right: 20px;
}

.social-media p{
    display: none;
}

i:hover{
    color: #DEB6AB;
}

.bg-container {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img-home/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    width: 60%;
    height: 77vh;
    background-color: #f8ecd1cc;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.right-section h1{
    color: #85586F;
    font-family: 'Pacifico', cursive;
    margin-left: 30px;
    font-size: 35px;
}

.right-section p{
    font-family: 'Bad Script', cursive;
    color: #85586F;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}

.pictures {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    margin-bottom: 50px;
}
.picture1{
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
}
.picture2 {
    height: 300px;
    width: 300px;
}

.pictures p {
    font-family: 'Work Sans', sans-serif;
    width: 300px;
    margin-top: 50px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

footer {
    width: 100vw;
    height: 2rem;
    background-color:#F8ECD1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    color: #85586F;
    font-size: 14px;
}

@media (min-width:1024px) {
    nav {
        font-family: 'Bad Script', cursive;
        width: 15rem;
        height: 100vh;
        background-color: #AC7D88;
        color: #F8ECD1;
        position: fixed;
        left: 0px;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        z-index: 1;
        font-size: large;
    }
    .logo {
        margin-top: 3rem;
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        margin-bottom: -30px;
        margin-left: 25px;
    }
    .logo1 {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        margin-top: 0;
        margin-right: 45px;
    }
    svg {
        height: 100px;
        display: inline;
    }
    nav:hover svg{
        transform: rotate(-25deg);
    } 
    i {
        font-size: 25px;
    }
    .nav-links {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .address {
        width: 12rem;
        font-family: 'Work Sans', sans-serif;
        display: inline;
    }
    .social-media {
        margin-bottom: 3rem;
    }
    .social-media p{
        display: block;
    }   
    .right-section{
        position: absolute;
        right: 0px;
        top:150px;
    }
    .right-section h1{
        font-size: 50px;
        margin-left: 100px;
    }
    .right-section p{
        margin-left: 150px;
        font-size: 50px;
        font-weight: bolder;
    }
    .pictures-container{
        margin-left: 50%;
        width: 300px;
        display: flex;
        flex-direction: row;
    }
    footer p{
        padding-left: 15rem;
    }
}
